input {
  background-color: var(--color-main);
  background-image: 'react-icons/fa';

  color: var(--color-text);
  font-family: var(--font-family);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal; 
  text-align: left; 
  padding-left: 20px;

  border: 2px solid white;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;

  width: calc(100% - 100px);
  height: 50px;

  outline: none;
}

button {
  width: 100px;
  height: 50px;
  border: none;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: #334d00;

  color: var(--color-text);
  font-family: var(--font-family);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal; 
  text-align: left; 
  padding-left: 20px;

  cursor: pointer;
}

.result {
  cursor: pointer;
}
